@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)
    
    .header
        &-bottom 
            .navbar-nav 
                line-height: 1
                li.nav-item
                    margin-right: 0
                    margin-bottom: 10px 
                    a.nav-link
                        padding: 0
                        &.active::after
                            display: none

            .btn-to-form
                max-height: 49px

    .banner
        max-height: 460px

    .difference
        h3
            font-size: 24px
        &-block 
            p, ul > li
                font-size: 14px

// ≥768px
+media-breakpoint-down(sm)

    h1
        font-size: 34px
    h2
        font-size: 28px

    .banner
        figure img
            max-width: 350px
        p
            font-size: 16px
    
    .proudly
        &-title
            font-size: 19px

// ≥576px
+media-breakpoint-down(xs)

    h1
        font-size: 28px
    h2
        font-size: 24px
        &.borders
            padding: 0
            &::before, &:after
                display: none

    .why-us-title p
        font-size: 16px

    .slick-pagination .prev
        left: 5px
    .multiple-items
        .slick-slide 
            .review-block
                padding: 25px 25px 40px
                .text
                    &::before, &::after
                        width: 20px
                        height: 20px
                        background-size: contain
                    p
                        font-size: 12px

    .form
        p
            font-size: 13px

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
