
.multiple-items .slick-slide
    margin: 0 20px
    .review-block
        position: relative
        padding: 70px 65px
        background-color: #fff
        text-align: center
        .title
            position: relative
            display: inline-block
            font: 18px 'QuattrocentoSans-Bold', sans-serif
            &::after
                content: ''
                position: absolute
                right: -5px
                left: -5px
                display: block
                height: 2px
                background-color: $accent

        .text 
            margin: 0 auto
            &:before
                content: ''
                display: block
                float: left
                width: 33px
                height: 33px
                background: url('../img/icons/quote-left.png') no-repeat center center
                opacity: .3
            &:after
                content: ''
                display: block
                float: right
                width: 33px
                height: 33px
                background: url('../img/icons/quote-right.png') no-repeat center center
                opacity: .3
            p
                position: relative
                padding: 5px 0
                font-size: 15px
                font-style: italic
                clear: both

.slick-pagination
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    .prev,
    .next 
        position: absolute
        display: block
        height: 20px
        width: 20px
        line-height: 0px
        font-size: 0px
        cursor: pointer
        background: transparent
        color: transparent
        top: 50%
        padding: 0
        border: none
        outline: none
        transform: translate(0, -50%)
        i
            font-size: 24px
            color: lighten($grey, 10%)
            transition: .2s ease
        &:hover i
            color: $accent
    .prev
        left: 0
    .next
        right: 0
