@import "vars"
@import "fonts"
@import "libs"
@import "slider"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.2
	font-family: $default-font
	overflow-x: hidden
	color: $grey
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

b, strong
	font-weight: bold
i
	font-style: normal
a
	color: $accent
	transition: .3 ease-out
	&:hover
		opacity: .7
		text-decoration: none

h1, h2, h3, h4, h5, h6
	margin: 0
	padding: 0
	font-family: 'Quattrocento-Bold', sans-serif
	text-transform: uppercase

h1
	font-size: 45px
h2
	font-size: 35px
	&.borders
		display: inline-block
		position: relative
		padding: 0 80px
		&::before, &::after
			content: ''
			position: absolute
			top: 50%
			display: block
			width: 68px
			height: 2px
			background-color: $accent
		&::before
			left: 0
		&::after
			right: 0
h3
	font-size: 25px
h4
	font-size: 20px
h5
	font-size: 18px

p
	margin: 0
	padding: 0

button
	border: none
	outline: none
	&:hover
		cursor: pointer
	&:focus
		outline: none

.img-responsive
	display: block
	width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

.btn
	display: flex
	justify-content: center
	align-items: center
	border-radius: 0
	transition: .3s ease-out
.bg-blue
	background-color: $dark-blue
.bg-section
	background-repeat: no-repeat
	background-position: center
	background-size: cover
.bg-overlay
	position: relative
	&::before
		content: ''
		display: block
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		background-color: #16242e
		opacity: .85

.btn-to-form
	height: 100%
	background-color: #0092de
	color: #fff
	text-transform: uppercase
	&:hover
		color: #fff

.header
	background-color: #16242e
	&-top
		background-color: #fff
	&-bottom
		.navbar
			&-toggler
				border: 2px solid $accent
				border-radius: 0
				i
					color: $accent
			&-nav
				position: relative
				display: flex
				line-height: 45px
				li.nav-item
					margin-right: 45px
					a.nav-link.active
						color: $accent
						&::after
							content: ''
							display: block
							position: absolute
							left: 0
							right: 0
							bottom: 0
							width: 100%
							height: 2px
							background-color: $accent
					a.nav-link
						position: relative
						height: 100%
						padding-left: 0
						padding-right: 0
						color: #fff
						transition: .1s linear
						&:last-child
							margin-right: 0
						&:hover
							color: $accent
							text-decoration: none

	&-contacts
		&__phone,
		&__email
			a
				text-transform: capitalize
				font-family: 'QuattrocentoSans-Bold', sans-serif
				.fa-phone
					transform: rotate(-265deg)
// BANNER
.banner
	position: relative
	height: 100%
	max-height: 560px
	margin-top: -20px
	padding-top: 132px
	background-position: center top
	z-index: 0
	&-text
		color: #fff
		h1
			margin-top: 70px
			font-family: 'Quattrocento-Bold', sans-serif
			opacity: .9
		p
			margin-top: 35px
			font-size: 20px
			text-align: left
			opacity: .8
	figure img
		max-width: 448px

// PROUDLY
.proudly
	&-title
		font-size: 27px
		font-family: 'QuattrocentoSans-Bold', sans-serif
	.btn-more
		padding: 8px 16px
		border: 1px solid $accent
		font-size: 18px
		color: $accent
	p
		font-size: 18px
		color: $grey
		span
			font-family: 'QuattrocentoSans-Bold', sans-serif
// WHY-US
.why-us
	min-height: 660px
	&-title
		color: #fff
		p
			font-size: 18px
	.block
		background-color: #fff
		color: $grey
		&__title
			font: 15px 'QuattrocentoSans-Bold', sans-serif
			text-transform: uppercase
		&__text
			font-size: 13px
			span
				font-family: 'QuattrocentoSans-Bold', sans-serif
// DIFFERENCE
.difference
	color: $grey
	h3
		padding-bottom: 10px
		border-bottom: 2px solid $accent
		font-size: 27px
	.difference-block
		.text
			font-size: 18px
			p span
				font-family: 'QuattrocentoSans-Bold', sans-serif

// REVIEW
.review
	h2
		color: #fff
// SUPPLY
.supply
	&-news
		&__item
			position: relative
			display: block
			padding: 15px
			border: 1px solid #ededed
			color: $grey
			transition: .1s ease-out
			&:hover
				color: $grey
				text-decoration: none
				&::after
					content: ''
					display: block
					position: absolute
					right: 0
					bottom: 0
					left: 0
					border-bottom: 3px solid $accent
			figure
				margin: -15px -15px 0
				overflow: hidden
				figcaption h5
					padding: 15px
				.img
					width: 100%
					height: 195px
					background-size: cover
					background-repeat: no-repeat
					background-position: center
			hr
				display: block
				margin: 0 -15px
				margin-bottom: 15px
				opacity: .1

// FORM
.form
	background-color: #f8f8f8
	form
		background-color: #fff
		color: $grey

		.select
			position: relative
			display: flex
			height: 40px
			border: 1px solid #ced4da
			flex-direction: column
		.btn
			margin: 0 auto
			padding: 10px 25px
			background-color: #0092de
			color: #fff
			text-transform: uppercase
			&:hover
				opacity: .7
// FOOTER
.footer
	background-color: #16242e
	color: #fff
	&__visit
		font-size: 18px
		.btn
			display: block
			margin: 0 auto
			max-width: 175px
			padding: 15px 25px
			font-size: 15px
			background-color: #0092de
			color: #fff
	&__copyright p
		font-size: 12px
	hr
		border: 1px solid #fff
		opacity: .1

	
@import "media" // Always at the end


